.platform-navbar {
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;
}

.platform-navbar button {
  padding: 8px 16px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
  text-transform: capitalize;
}

.platform-navbar button.active {
  background-color: #0046d4;
  color: white;
  font-weight: bold;
}


.form-two-column {
  display: flex;
  gap: 40px;
}

.form-left-column {
  flex: 1;
  min-width: 300px;
}

.form-right-column {
  flex: 1;
  min-width: 300px;
}

.assign-users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.assign-users-container label {
  width: 30%;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.error-message {
  color: #ff0000;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #ffeeee;
  border-radius: 4px;
}

.success-message {
  color: #008000;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #eeffee;
  border-radius: 4px;
}